In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Te Anau,NZ,2020-08-24 01:54:07,-45.42,167.72,54.23,61,23,1.72
1,1,Severo-Kurilsk,RU,2020-08-24 01:54:07,50.68,156.12,54.82,82,64,4.18
2,2,Rikitea,PF,2020-08-24 01:54:07,-23.12,-134.97,71.24,83,15,19.80
3,3,Vardo,NO,2020-08-24 01:54:07,70.37,31.11,53.22,92,100,8.59
4,4,Bluff,NZ,2020-08-24 01:54:07,-46.60,168.33,60.01,71,44,5.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find teh cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2020-08-24 01:54:07,-23.12,-134.97,71.24,83,15,19.80
6,6,Mogadishu,SO,2020-08-24 01:54:08,2.04,45.34,75.38,80,39,12.66
10,10,Sakaiminato,JP,2020-08-24 01:54:09,35.55,133.23,84.20,66,20,4.70
16,16,Hobyo,SO,2020-08-24 01:54:10,5.35,48.53,75.25,78,93,20.51
17,17,Urumqi,CN,2020-08-24 01:49:49,43.80,87.60,73.40,40,99,6.71
20,20,Dawei,MM,2020-08-24 01:53:05,14.08,98.20,81.50,79,32,3.65
25,25,Parintins,BR,2020-08-24 01:54:12,-2.63,-56.74,80.11,56,1,2.82
26,26,San Quintin,MX,2020-08-24 01:54:12,30.48,-115.95,76.41,68,0,9.22
27,27,Tuni,IN,2020-08-24 01:54:13,17.35,82.55,79.57,88,100,8.57
28,28,Itarema,BR,2020-08-24 01:54:13,-2.92,-39.92,77.36,78,32,17.05

In [15]:
preferred_cities_df.count()

City_ID       255
City          255
Country       255
Date          255
Lat           255
Lng           255
Max Temp      255
Humidity      255
Cloudiness    255
Wind Speed    255
dtype: int64

In [16]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
2       Rikitea      PF     71.24 -23.12 -134.97
6     Mogadishu      SO     75.38   2.04   45.34
10  Sakaiminato      JP     84.20  35.55  133.23
16        Hobyo      SO     75.25   5.35   48.53
17       Urumqi      CN     73.40  43.80   87.60
20        Dawei      MM     81.50  14.08   98.20
25    Parintins      BR     80.11  -2.63  -56.74
26  San Quintin      MX     76.41  30.48 -115.95
27         Tuni      IN     79.57  17.35   82.55
28      Itarema      BR     77.36  -2.92  -39.92

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")
        pass

NameError: name 'params' is not defined

In [19]:
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
2       Rikitea      PF     71.24 -23.12 -134.97
6     Mogadishu      SO     75.38   2.04   45.34
10  Sakaiminato      JP     84.20  35.55  133.23
16        Hobyo      SO     75.25   5.35   48.53
17       Urumqi      CN     73.40  43.80   87.60
20        Dawei      MM     81.50  14.08   98.20
25    Parintins      BR     80.11  -2.63  -56.74
26  San Quintin      MX     76.41  30.48 -115.95
27         Tuni      IN     79.57  17.35   82.55
28      Itarema      BR     77.36  -2.92  -39.92

In [22]:
hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
hotel_df

               City Country  Max Temp    Lat     Lng  Hotel Name
2           Rikitea      PF     71.24 -23.12 -134.97         NaN
6         Mogadishu      SO     75.38   2.04   45.34         NaN
10      Sakaiminato      JP     84.20  35.55  133.23         NaN
16            Hobyo      SO     75.25   5.35   48.53         NaN
17           Urumqi      CN     73.40  43.80   87.60         NaN
..              ...     ...       ...    ...     ...         ...
550     San Lawrenz      MT     79.00  36.06   14.20         NaN
552          Kabalo      CD     76.78  -6.05   26.92         NaN
555         Manaure      CO     83.34  11.78  -72.44         NaN
556  Puerto Carreno      CO     75.43   6.19  -67.49         NaN
557         Wanning      CN     87.42  18.80  110.40         NaN

[255 rows x 6 columns]

In [50]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))